html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;
}


#map {
    position: absolute;
    width: 1000px;
    height: 500px;
    background-image: url('../img/salongerna.png');
}

.attendee {
    width: 0px;
    height: 0px;
    margin-left: -5px;
    margin-right: -5x;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f00;
              
}

canvas {
    width: 1000;
    height: 500px;
}

.wrapper {
    position: relative;
    margin: auto auto;
    width: 1000px;
}

.sprite-wrap {
    width: 64px;
    height: 64px; /* 720px; */
    top: -32px;
    left:-32px;
    position: relative;
    overflow: hidden;
}
.sprite-wrap img {
    position: absolute;
    top: -256px;
    left: 0;
    width: 384px;
}

img.sprite {
    z-index: 10;
}
img.fbImg {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 12px;
    width: 40px;
}
img.fbImg.goleft {
    left: 0px;
    width: 20px;
    height: 40px;
}
img.fbImg.goright {
    left: 44px;
    width: 20px;
    height: 40px;
}
img.fbImg.goup {
    display: none;
}
img.fbImg.godown {

}
