html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;
}


#map {
    position: absolute;
    width: 1000px;
    height: 500px;
    background-image: url('../img/salongerna.png');
}

.attendee {
    width: 0px;
    height: 0px;
    margin-left: -5px;
    margin-right: -5x;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f00;
              
}

canvas {
    width: 1000;
    height: 500px;
}

.wrapper {
    position: relative;
    margin: auto auto;
    width: 1000px;
}

.sprite-wrap {
    width: 32px;
    height: 32px; /* 720px; */
    top: -16px;
    left:-16px;
    position: relative;
    overflow: hidden;
}
.sprite-wrap img {
    position: absolute;
    top: -128px;
    left: 0;
    width: 192px;
}
