html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}


#map {
    position: absolute;
    width: 1000px;
    height: 500px;
}

#avatar {
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-right: -5x;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f00;
              
}

canvas {
    position: absolute;
    width: 1000;
    height: 500px;
}